.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 20rem;
  height: 20rem;
  gap: 5px;
  /* border: 3px solid white; */
}

.cell {
  width: 5rem;
  height: 5rem;
  border: 2px solid whitesmoke;
  cursor: pointer;
}

.active {
  background-color: aqua;
}
